{% extends "base.html" %}

{% block content %}
    <h1>User: {{ user.username }}</h1>
    <hr>
    {% for feature in features %}
    {{ feature.requestor.username }} requested: {{ feature.product_area }} {{ feature.description }}
    <br>
    {% endfor %}
    {% if user.last_seen %} <div>Last seen on: {{ user.last_seen }}</div>{% endif %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}
            {{ form.title }}
            {% for error in form.title.errors %}
            <span style="color:red">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.description.label }}
            {{ form.description(cols=32, rows=4) }}
            {% for error in form.description.errors %}
            <span style="color:red">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.product_area.label }}
            {{ form.product_area }}
            {% for error in form.product_area.errors %}
            <span style="color:red">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.clients.label }}
            {{ form.clients }}
            {% for error in form.clients.errors %}
            <span style="color:red">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.priority.label }}
            {{ form.priority }}
            {% for error in form.priority.errors %}
            <span style="color:red">{{ error }}</span>
            {% endfor %}
        </div>
        <div>{{ form.submit() }}</div>
    </form>
    {% for request in requests %}
    <div>{{ request.requestor.username }} requested: {{ request.description }}</div>
    {% endfor %}
{% endblock %}